In [1]:
import pandas

In [26]:
df = pandas.read_csv( 'raw_collect.txt', sep='\s+', header=None, names=['mutant', 'student'] )
df

   mutant    student
0   E406N    Sanjana
1    Q19N    Sanjana
2   H119D    Sanjana
3   H315D  Stephanie
4   E177D  Stephanie
5   R359E  Stephanie
6   H119N      Bowen
7   N293T      Bowen
8   L219I      Bowen
9   C167F   Michelle
10   S16T   Michelle
11  H178F   Michelle
12  T296C      Elena
13  E177D      Elena
14  L171M      Elena
15  N404Q        Ana
16   S16Q        Ana
17  W399H        Ana
18  W325Y      Nahal
19  H178K      Nahal
20  E177N      Nahal
21  H178C        Amy
22   R76Q        Amy
23  N404Q        Amy
24  E406Q       Tara
25   W34R       Tara
26  D121F       Tara
27  H178F       Alex
28  H178R       Alex
29  W325R       Alex
30  H119S    Matthew
31  W399H    Matthew
32  N220W    Matthew
33  W325R    Matthew
34  N404E       Ryan
35  N404S       Ryan
36  E406V       Ryan

In [41]:
df = pandas.read_csv( 'raw_collect.txt', sep='\s+', header=None, names=['mutant', 'student'] )
allowed = pandas.read_csv( '../../../../bagel-data/allowed_mutants.txt', header=None, names=['mutant'] )
inhouse = pandas.read_csv( '../../../../bagel-benchmark/mutant_list', header=None, names=['mutant'] )

m_list = allowed.mutant.tolist()
in_list = inhouse.mutant.tolist()

print 'name\tallowed\tin-house'
for mut in df.mutant:
    print mut, '\t', mut in m_list, '\t', mut in in_list

name	allowed	in-house
E406N 	True 	False
Q19N 	True 	False
H119D 	True 	False
H315D 	True 	False
E177D 	True 	False
R359E 	True 	False
H119N 	True 	True
N293T 	True 	False
L219I 	True 	False
C167F 	True 	False
S16T 	True 	False
H178F 	True 	False
T296C 	True 	False
E177D 	True 	False
L171M 	True 	False
N404Q 	True 	False
S16Q 	True 	False
W399H 	True 	True
W325Y 	True 	False
H178K 	True 	False
E177N 	True 	False
H178C 	True 	False
R76Q 	True 	False
N404Q 	True 	False
E406Q 	True 	True
W34R 	True 	False
D121F 	True 	True
H178F 	True 	False
H178R 	True 	True
W325R 	True 	True
H119S 	True 	False
W399H 	True 	True
N220W 	True 	False
W325R 	True 	True
N404E 	True 	False
N404S 	True 	False
E406V 	True 	False

In [38]:
import screed 

with open( 'csv.csv', 'w' ) as fn:
    fn.write( 'mutant_label,oligo_label,sequence,scale,purification\n' )
    for line in df.mutant.unique():
        for record in screed.open( '../../../oligos/{}.fasta'.format( line ) ):
            fn.write( '{0},{0},{1},25nm,standard\n'.format( line, record.sequence ) )

In [37]:
len( df.mutant.unique() )

32